<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="">
    <title>Search gifs</title>
</head>
<div class="container">
    <div class="text-center">
        <h1 class="text-white">GIPHY PARTY</h1>
        <input type="text" placeholder="Enter a keyword" onkeyup="">
    </div>
</div>
<body>
    <script>
        
    </script>
</body>

</html>